<!DOCTYPE html>
<html>
<head>
  <title>Kiroku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
     <%= link_to 'Kiroku', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nab navbar-right">
       <li><%= link_to 'イベントを作る', new_document_path %></li>
       <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %></li>
    </div>
    </div>
  </div>
</header>
<div class="container">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
